body {
    background:lightgrey
}
#playing-cards {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    flex-wrap: wrap;
    gap: 20px;
}
.A{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}
.card {
    background:white;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    padding: 5px;
}
.left {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
    height: 80%;
}
.right {
    display: flex;
    flex-direction: column-reverse ;
    align-self: flex-end;
}
.heart, .diamond {
    color: red;
}
.spade, .club {
    color: black;
}
.two{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}
.three{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 20px;
    line-height: 0.63;
}
